body {
  display: flex;
  justify-content: center;
}

#main-container {
  margin-top: 50px;
  display: flex;
  width: 600px;
  height: 850px;
  background-color: rgb(76, 226, 143);
  align-items: center;
  justify-content: center;
}
#welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

#welcome-text {
  display: block;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 60px;
  margin: 20px;
}

#welcome-button {
  height: 50px;
  width: 160px;
  border-radius: 6px;
  border-color: rgb(124, 204, 204);
  background-color: rgb(127, 216, 67);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: solid;
  border-width: 2px;
}

#grid-system {
  margin-top: 15px;
  position: absolute;
  display: none;
  grid-template-columns: repeat(10, 36px);
  grid-template-rows: repeat(20, 36px);
  gap: 3px;
}

.tile {
  background-color: rgb(34, 32, 32);
  border: solid;
  border-width: 1px;
  border-color: white;
}
.tetromino {
  background-color: red;
  border: solid;
  border-width: 1px;
  border-color: white;
}
#welcome-button:hover {
  opacity: 0.75;
}

#welcome-button:active {
  opacity: 0.65;
}
